<div class="main-content  mt-1 text-right">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card _global_card">
          <div
            class="card-header card-header-info tc-bg-dack-info col-md-2 col-sm-2 col-xs-2"
          >
            <h3 class="card-title">إضافة منتوج</h3>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="commandeForm">
              <!-- general informations card -->
              <div class="card col-12 _informations_card">
                <div
                  class="card-header card-header-primary tc-blue mr-0 col-md-12 col-sm-12 col-xs-12 p-1"
                >
                  <h4 class="card-title mx-2">
                    معلومات عامة
                  </h4>
                </div>
                <div class="card-body mx-0 px-0">
                  <div class="row col-12 justify-content-center">
                    <div class="col-sm-5 col-xs-12">
                      <mat-form-field class="example-full-width text-center">
                        <input
                          matInput
                          value="{{
                            currentDateTime | date: 'HH:mm:ss   dd/MM/yyyy'
                          }}"
                          disabled
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                      <mat-form-field class="example-full-width text-center">
                        <input matInput value="{{ magasin.nom }}" disabled />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row col-12 justify-content-center">
                    <div
                      class="row col-sm-5 col-xs-12 m-0 p-0 justify-content-center align-items-center"
                    >
                      <div class="form-group col-2 text-nowrap text-secondary">
                        المزود :
                      </div>
                      <div class="form-group col-9">
                        <select
                          class="form-control col-12"
                          (change)="fournisseurSelectChange($event)"
                          id="fournisseur"
                          formControlName="fournisseur"
                        >
                          <option
                            *ngFor="
                              let fournisseur of fournisseurs;
                              let selected_fournisseur_index = index
                            "
                            value="{{ selected_fournisseur_index }}"
                            title="{{ fournisseur.credit }}"
                          >
                            {{ fournisseur.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- <div
                      class="row col-sm-5 col-xs-12 justify-content-center align-items-center"
                    >
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="livraison"
                          formControlName="livraison"
                          (change)="fraisLivraison = !fraisLivraison"
                        />
                        <label class="custom-control-label" for="livraison">
                          تكاليف الشحن
                        </label>
                      </div>
                    </div> -->
                  </div>
                  <!-- <div
                    *ngIf="fraisLivraison"
                    class="row col-12 mt-2 justify-content-center"
                  >
                    <h4 class="alert text-light" style="background: #00aaffd7">
                      سيتم صرف تكاليف الشحن من طرفك !!
                    </h4>
                  </div> -->
                </div>
              </div>

              <div class="row col-12 mt-1 mx-0 p-0 justify-content-center">
                <!-- selecting products card -->
                <div
                  class="card col-12 col-md-8 col-lg-7 col-xl-6 py-2 _products_card"
                >
                  <div
                    class="card-header card-header-warning mr-0 col-md-12 col-sm-12 col-xs-12 p-1"
                    style="max-height: 36px !important"
                  >
                    <h4 class="card-title mx-2">
                      اختيار المنتجات
                    </h4>
                  </div>
                  <div class="card-body mx-0 px-0">
                    <!-- selecting form -->
                    <div>
                      <div
                        class="row col-12 text-nowrap justify-content-center"
                      >
                        <!-- Button Ajouter modal -->
                        <button
                          type="button"
                          class="btn btn-outline-warning col-sm-6 col-md-4 mb-1"
                          data-toggle="modal"
                          data-target="#ProduitSaveModal"
                          style="font-size: 16px;"
                        >
                          <span style="font-size: 10px;"
                            ><i class="fas fa-plus"></i
                          ></span>
                          منتوج جديد
                        </button>
                      </div>
                      <div
                        class="row col-12   text-nowrap justify-content-center"
                      >
                        <label class="col-4" for="categorie ">
                          الصنف
                        </label>
                        <label class="col-4" for="produit">
                          المنتوج
                        </label>
                        <label class="col-2" for="prixProduit">
                          ثمن  الشراء
                        </label>
                        <label class="col-2" for="quantitProduit">
                          الكمية
                        </label>
                      </div>
                      <div class="form-row col-12 justify-content-center">
                        <div class="form-group col-4">
                          <select
                            class="form-control"
                            id="categorie"
                            formControlName="categorie"
                            (change)="categorieSelectChange($event)"
                          >
                            <option
                              *ngFor="
                                let cat of categories;
                                let selected_categorie_index = index
                              "
                              value="{{ selected_categorie_index }}"
                            >
                              {{ cat.label }}
                            </option>
                          </select>
                        </div>

                        <div class="form-group col-4">
                          <select
                            class="form-control"
                            id="produit"
                            formControlName="produit"
                            (change)="produitSelectChange($event)"
                          >
                            <option
                              *ngFor="
                                let prod of produits;
                                let selected_prod_index = index
                              "
                              value="{{ selected_prod_index }}"
                              title="{{ prod.prixDachat }}"
                            >
                              {{ prod.libelle }}
                            </option>
                          </select>
                        </div>

                        <div class="form-group col-2">
                          <input
                            type="number"
                            [(ngModel)]="prixLigneCommande"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control"
                            id="prixProduit"
                            disabled="disabled"
                          />
                        </div>

                        <div class="form-group col-2">
                          <input
                            type="number"
                            (ngModel)="quantiteLigneCommande"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control"
                            id="quantitProduit"
                            (focusout)="quantiteLigneCommandeFocusOut()"
                          />
                        </div>
                        <!-- <div class="form-group col-2">
                          <input
                            type="number"
                            [(ngModel)]="quantiteLigneCommande"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control"
                            id="quantitProduit"
                            (focusout)="quantiteLigneCommandeFocusOut()"
                          />
                        </div> -->
                      </div>
                      <div class="row col-12 justify-content-center">
                        <div class="form-group col-sm-6 col-md-4 text-center">
                          <button
                            id="btn_commandeTableItem"
                            class="btn btn-warning btn-sm"
                            (click)="addCommandeLine()"
                            [disabled]="!addLigneCmdEnabled"
                          >
                            <h4 class="m-0">+ إضافة</h4>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- products table -->
                    <table
                      class="table table-hover text-center text-nowrap"
                      *ngIf="commandeTable.length != 0"
                    >
                      <thead class="text-success">
                        <th>المنتوج</th>
                        <th>الثمن</th>
                        <th>الكمية</th>
                        <th>المجموع</th>
                        <th>حذف</th>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let commandeTableItem of commandeTable;
                            let in = index
                          "
                        >
                          <td>
                            {{ commandeTableItem.produit.libelle }}
                          </td>
                          <td>
                            {{ commandeTableItem.produit.prixDachat }}
                          </td>
                          <td>
                            {{ commandeTableItem.quantite }}
                          </td>
                          <td>
                            {{ commandeTableItem.somme }}
                          </td>
                          <td>
                            <button
                              class="btn btn-default  btn-sm"
                              (click)="deleteCommandeLine(in)"
                            >
                              -
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- payment card -->
                <div
                  class="card col-12 col-md-4 col-lg-5 col-xl-6 py-2 _payment_card"
                >
                  <div
                    class="card-header card-header-danger mr-0 col-md-12 col-sm-12 col-xs-12 p-1"
                    style="max-height: 36px !important"
                  >
                    <h4 class="card-title mx-2">
                      معلومات الدفع
                    </h4>
                  </div>
                  <div class="card-body mx-0 px-0">
                    <div class="col-12 border border-danger">
                      <!-- total price -->
                      <div
                        class="row form-group col-12 px-0 justify-content-center align-items-center"
                      >
                        <label
                          for="montantTotalCmd"
                          class="col-4 px-0 m-0 ml-3 ml-md-2 text-right text-nowrap"
                          >المجموع :
                        </label>
                        <input
                          [value]="montantTotalCmd"
                          class="form-control col-6"
                          id="montantTotalCmd"
                          disabled
                        />
                      </div>

                      <!-- product count -->
                      <div
                        class="row form-group col-12 px-0 justify-content-center align-items-center"
                      >
                        <label
                          for="nbProducts"
                          class="col-4 px-0 m-0 ml-3 ml-md-2 text-right text-nowrap"
                          >عدد المنتوجات :
                        </label>
                        <input
                          [value]="commandeTable.length"
                          class="form-control col-6"
                          id="nbProducts"
                          disabled
                        />
                      </div>
                    </div>

                    <!-- payment mode and amount -->
                    <div *ngIf="montantTotalCmd > 0">
                      <div
                        class="row col-12 mt-2 text-center justify-content-center"
                      >
                        <label class="col-4" for="montantReglement">
                          المال الممنوح
                        </label>
                        <label class="col-6" for="modeReglement">
                          الطريقة
                        </label>
                        <label class="col-2">حذف</label>
                      </div>

                      <div
                        class="form-row col-12 text-center justify-content-center"
                      >
                        <div class="form-group col-3">
                          <input
                            type="number"
                            class="form-control"
                            id="montantReglement"
                            [(ngModel)]="montantLigneReglement"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </div>

                        <div class="form-group col-6">
                          <select
                            class="form-control"
                            id="modeReglement"
                            formControlName="modeReglement"
                            (change)="reglementSelectChange($event)"
                          >
                            <option value="ESPECES">نقد</option>
                            <option value="CHEQUE">شيك</option>
                            <option value="EFFET">(Effet) كمبيالة</option>
                            <option value="VIREMENT_BANCAIRE"
                              >حوالة مصرفية</option
                            >
                            <option value="CREDIT">سلف</option>
                            <option value="N_EST_PAS_INCLUS">معاملة</option>
                          </select>
                        </div>
                        <div class="form-group col-2 text-nowrap">
                          <button
                            id="btn_commandeTableItem"
                            class="btn btn-danger btn-sm"
                            (click)="addPaymentLine()"
                            [disabled]="!addLigneReglmEnabled"
                          >
                            <h4 class="m-0">+ إضافة</h4>
                          </button>
                        </div>
                      </div>

                      <table
                        class="table table-hover justify-content-center text-center"
                        *ngIf="reglementTable.length != 0"
                      >
                        <thead class=" text-success">
                          <th>المال الممنوح</th>
                          <th>الطريقة</th>
                          <th>حذف</th>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let reglementTableItem of reglementTable;
                              let in = index
                            "
                          >
                            <td>
                              {{ reglementTableItem.montant }}
                            </td>
                            <th>
                              {{ getModeReglement(reglementTableItem.mode) }}
                            </th>
                            <th>
                              <button
                                class="btn btn-default  btn-sm"
                                (click)="deletePaymentLine(in)"
                              >
                                -
                              </button>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row col-12 justify-content-center">
                <button
                  (click)="genereFacture()"
                  mat-raised-button
                  type="submit"
                  class="btn btn-info tc-bg-dack-info col-3"
                  [disabled]="!confirmEnabled"
                >
                  <h4 class="m-0">تأكيد</h4>
                </button>
              </div>
            </form>
          </div>
        </div>

        <button
          id="openModalButton"
          [hidden]="true"
          data-toggle="modal"
          data-target="#FournisseurSaveModal"
        >
          Open FournisseurSaveModal
        </button>
        <!-- Modal Ajouter fournisseur -->
        <div
          class="modal fade"
          id="FournisseurSaveModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="FournisseurSaveModalTitle"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header row">
                <h5
                  class="modal-title col-11 text-right"
                  id="FournisseurModalLongTitle"
                >
                  إضافة مزود
                </h5>
                <button
                  type="button"
                  class="close col-1"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <br /><br />
              <form class="form-inline" [formGroup]="fournisseurForm">
                <div class="container">
                  <div class="modal-body text-right">
                    <div class="row">
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="cin"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                          >رقم البطاقة الوطنية :
                        </label>
                        <input
                          type="text"
                          class="form-control col-md-8 col-sm-12"
                          id="cin"
                          formControlName="cin"
                        />
                      </div>
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="name"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                        >
                          الإسم الكامل :
                        </label>
                        <input
                          type="text"
                          class="form-control col-md-8 col-sm-12"
                          id="name"
                          formControlName="name"
                          [class.is-invalid]="name.invalid && name.touched"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="rip"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                          >رقم الحساب البنكي :
                        </label>
                        <input
                          type="number"
                          class="form-control col-md-8 col-sm-12"
                          id="rip"
                          min="0"
                          formControlName="rip"
                          [class.is-invalid]="rip.invalid && rip.touched"
                        />
                      </div>
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="raison_sociale"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                          >الاسم التجاري :
                        </label>
                        <input
                          type="text"
                          class="form-control col-md-8 col-sm-12"
                          id="raison_sociale"
                          min="0"
                          formControlName="raison_sociale"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="phone"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                          >رقم الهاتف :
                        </label>
                        <input
                          type="text"
                          class="form-control col-md-8 col-sm-12"
                          id="phone"
                          min="0"
                          maxlength="10"
                          minlenght="10"
                          formControlName="phone"
                          [class.is-invalid]="phone.invalid && phone.touched"
                        />
                      </div>
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="address"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                          >العنوان :
                        </label>
                        <textarea
                          class="form-control col-md-8 col-sm-12"
                          id="address"
                          formControlName="address"
                        ></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="email"
                          class="control-label col-md-4 col-sm-12 text-nowrap"
                          >البريد الالكتروني :
                        </label>
                        <input
                          type="email"
                          class="form-control col-md-8 col-sm-12"
                          id="email"
                          formControlName="email"
                          [class.is-invalid]="email.invalid && email.touched"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="mt-5 mb-1 col-md-6 col-sm-12">
                        <ul
                          class="text-danger col-12"
                          *ngIf="name.invalid && (name.touched || name.dirty)"
                        >
                          <li>
                            يجب ادخال اسم المزود
                          </li>
                        </ul>
                        <ul
                          class="text-danger col-12"
                          *ngIf="rip.invalid && (rip.touched || rip.dirty)"
                        >
                          <li>
                            رقم الحساب البنكي يجب أن يكون موجباً
                          </li>
                        </ul>
                      </div>
                      <div class="mt-md-5 mb-1 col-md-6 col-sm-12">
                        <ul
                          class="text-danger col-12"
                          *ngIf="
                            phone.invalid && (phone.touched || phone.dirty)
                          "
                        >
                          <li>
                            رقم الهاتف يحتوي عشرة أرقام
                          </li>
                        </ul>
                        <ul
                          class="text-danger col-12"
                          *ngIf="
                            email.invalid && (email.touched || email.dirty)
                          "
                        >
                          <li>
                            أدخل بريد الكتروني صالح
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <br /><br /><br />
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-danger ml-3"
                      data-dismiss="modal"
                    >
                      إلغاء
                    </button>
                    <button
                      type="submit"
                      class="btn btn-success"
                      data-dismiss="modal"
                      [disabled]="
                        fournisseurForm.pristine || fournisseurForm.invalid
                      "
                      (click)="addFournisseur()"
                    >
                      تأكيد
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!---Modal end-->

        <!-- Modal Ajouter produit -->
        <div
          class="modal fade"
          id="ProduitSaveModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="ProduitSaveModalTitle"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header row">
                <h5
                  class="modal-title col-11 text-right"
                  id="ProduitModalLongTitle"
                >
                  إضافة منتوج
                </h5>
                <button
                  type="button"
                  class="close col-1"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="form-inline" [formGroup]="produitForm">
                <div class="container">
                  <div class="modal-body text-right">
                    <div class="row col-12 align-items-center">
                      <div
                        class="form-group col-lg-6 col-sm-12"
                        *ngIf="!isNewCategorie"
                      >
                        <label
                          for="libelle"
                          class="control-label col-lg-4 col-sm-12 text-nowrap"
                          >صنف المنتج :
                        </label>
                        <div class="form-group col-lg-8 col-sm-12">
                          <select
                            class="form-control col-12"
                            id="categorie"
                            formControlName="categorie"
                          >
                            <option
                              *ngFor="
                                let cat of categories;
                                let selected_categorie_index = index
                              "
                              value="{{ selected_categorie_index }}"
                            >
                              {{ cat.label }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div
                        class="row col-lg-6 col-sm-12 justify-content-center align-items-center"
                      >
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="newCategorie"
                            (change)="isNewCategorie = !isNewCategorie"
                          />
                          <label
                            class="custom-control-label"
                            for="newCategorie"
                          >
                            صنف جديد
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row col-12 align-items-center">
                      <form
                        *ngIf="isNewCategorie"
                        class="form-inline  col-12"
                        [formGroup]="categorieForm"
                      >
                        <div class="form-group col-lg-6 col-sm-12">
                          <label
                            for="label"
                            class="control-label col-lg-4 col-sm-12 text-nowrap"
                            >إسم الصنف :
                          </label>
                          <input
                            type="text"
                            class="form-control col-lg-8 col-sm-12"
                            id="label"
                            formControlName="label"
                          />
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                          <label
                            for="description"
                            class="control-label col-lg-4 col-sm-12 text-nowrap"
                            >وصف الصنف :
                          </label>
                          <textarea
                            class="form-control col-lg-8 col-sm-12"
                            id="description"
                            rows="1"
                            formControlName="description"
                          ></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="row col-12 align-items-center">
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="libelle"
                          class="control-label col-lg-4 col-sm-12 text-nowrap"
                          >إسم المنتج :
                        </label>
                        <input
                          type="text"
                          class="form-control col-lg-8 col-sm-12"
                          id="libelle"
                          formControlName="libelle"
                        />
                      </div>
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="prixDachat"
                          class="control-label col-lg-4 col-sm-12 text-nowrap"
                        >
                          ثمن الشراء :
                        </label>
                        <input
                          type="number"
                          class="form-control col-lg-8 col-sm-12"
                          id="prixDachat"
                          min="0"
                          formControlName="prixDachat"
                        />
                      </div>
                    </div>
                    <div class="row col-12 align-items-center">
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="prixUnitaire"
                          class="control-label col-lg-4 col-sm-12 text-nowrap"
                          >ثمن البيع :
                        </label>
                        <input
                          type="number"
                          class="form-control col-lg-8 col-sm-12"
                          id="prixUnitaire"
                          min="0"
                          formControlName="prixUnitaire"
                        />
                      </div>
                      <div class="form-group col-lg-6 col-sm-12">
                        <label
                          for="quantite"
                          class="control-label col-lg-4 col-sm-12 text-nowrap"
                          >الكمية المشتراة :
                        </label>
                        <input
                          type="text"
                          class="form-control col-lg-8 col-sm-12"
                          id="quantite"
                          min="0"
                          formControlName="quantite"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-danger ml-3"
                      data-dismiss="modal"
                    >
                      إلغاء
                    </button>
                    <button
                      type="submit"
                      class="btn btn-success"
                      data-dismiss="modal"
                      (click)="addProduit()"
                    >
                      تأكيد
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!---Modal end-->
      </div>
    </div>
  </div>
</div>
